<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
    <script>
        function redirectToLink(event) {
            event.preventDefault(); // Останавливает стандартное поведение формы (отправку)
            window.location.href = 'https://www.youtube.com/watch?v=16jA-6hiSUo'; // Перенаправление
        }
    </script>
</head>
<body>
<div class="login-container">
    <h1>Вход</h1>

    <!-- Убираем action у формы, добавляем обработчик события -->
    <form onsubmit="redirectToLink(event)">
        <div>
            <label for="username">Логин:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit">Войти</button>
        </div>
    </form>

    <!-- Ошибки -->
    <div th:if="${error}" class="error">
        <p th:text="${error}"></p>
    </div>
</div>
</body>
</html>
